/* App.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;/* Prevents scrolling */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  background-color: rgba(237, 191, 191, 0.8); /* Sidebar with some transparency */
  width: 250px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto; 
  z-index: 2; /* Ensures the sidebar content is above the overlay */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  position: relative;
}

.background-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('wp2302899-ethereum-wallpapers.jpg');
  background-size: fill;
  background-position: center;
  z-index: 1; /* Ensures the background image is behind the content */
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: 2; /* Ensures the overlay is above the background */
}

.content-container {
  position: relative;
  z-index: 3; /* Ensures the content is above the overlay */
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
    position: static; 
    height: auto;
  }

  .main-content {
    margin-left: 0;
  }
}
