.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;    
    position:static;
    flex-direction: column;
  }
  
  .image-container {
    margin-bottom: 20px;
    box-shadow: 10px;
    border-radius: 10px;
    
  }
  
  .profile-image {
    width: 350px; 
    height: 200px;
    border-radius:10px ;
    box-shadow: 5px;
  }
  
  .details-container {
    font-size: 2rem;
    text-align: center;
  
  }
  
  .details-container h1 {
    font-size: 3rem;
    font-display:initial;
    text-decoration: underline;
    margin-top: 15px;
  }
  
  .details-container p {
   font-size:large;
   margin-bottom: 2em;
   font-weight: 600;
  max-width: 800px;
  
  }
  
